.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
  color: #fff;
  font-family: 'Poppins', sans-serif;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.sidebar-left {
  font-size: 24px;
  font-weight: 600;
}

.sidebar-right {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
}

.logout-btn, .login-btn {
  color: #fff;
  text-decoration: none;
  background: none;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.logout-btn:hover, .login-btn:hover {
  background: #fff;
  color: #4158d0;
}

.sidebar-left a {
  text-decoration: none;
  color: #e0e0e0;
  cursor: pointer;
}

.hover-effect {
  background-image: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
}

.hover-effect:hover {
  font-size: 25px;
  color: #fff;
  shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
}
